:root {
  --green-color: #4caf50;
}
* {
  font-family: "Courier New", Courier, monospace;
}

.hover:hover {
  opacity: 0.7;
}

.container {
  width: 600px;
  margin: 50px auto;
  border: 1px solid var(--green-color);
  border-radius: 10px;
  padding: 50px 20px;
}
.container h3 {
  text-align: center;
  font-size: 36px;
  margin: 0 0 20px 0;
  color: var(--green-color);
}

.form-input {
  width: 100%;
  margin-bottom: 20px;
}

.form-input label {
  display: none;
  width: 20%;
  font-size: 18px;
}

.input-field {
  border-bottom: 2px solid var(--green-color);
  width: calc(100% - 20px);
}

.form-input i {
  color: rgba(128, 128, 128, 0.589);
}

.form-input input {
  line-height: 30px;
  border: none;
  font-size: 18px;
  width: 90%;
}

.form-input input:focus {
  outline: none;
}

.error,
.error-message {
  color: red;
  display: block;
}

.submit-reset {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.submit-btn {
  width: 200px;
  height: 50px;
  font-size: 20px;
  color: white;
  background-color: var(--green-color);
  border: none;
  border-radius: 10px;
  text-transform: uppercase;
}

.submit-btn:hover {
  cursor: pointer;
  box-shadow: 2px 2px 4px #ccc;
}

.reset-pass {
  margin-top: 20px;
  color: var(--green-color);
  font-size: 20px;
  text-decoration: none;
}

/* HOME CSS */

.wrapper {
  min-height: 500px;
  width: 1200px;
  margin: 50px auto;
  border: 1px solid var(--green-color);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  margin: 0 50px 60px 50px;
  display: flex;
  justify-content: space-between;
}

.user-info {
}

.logout {
  margin-left: 200px;
  margin-top: 30px;
}

.logout a {
  display: block;
  width: 80px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  text-decoration: none;
  font-size: 16px;
  color: white;
  background-color: var(--green-color);
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
}

.search-btn {
  display: block;
  width: 80px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  text-decoration: none;
  font-size: 16px;
  color: white;
  background-color: #3890fc;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  margin: 0 auto;
}

.add-btn {
  display: block;
  width: 80px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  text-decoration: none;
  font-size: 16px;
  color: white;
  background-color: #ff6b6b;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  margin: 0 auto;
}

.home-tbl,
.user-reset-tbl,
.event-list-tbl {
  width: 90%;
  height: 120px;
}

.home-tbl,
.user-reset-tbl,
.event-list-tbl,
th {
  margin-left: 50px;
  border: 1px solid #000;
  border-collapse: collapse;
}

th {
  font-size: 20px;
  height: 30px;
}

td {
  border-left: 1px solid #000;
  text-align: center;
  height: 30px;
}

/* RESET PASSWORD */
.reset-field {
  margin-bottom: 30px;
}

.reset-tbl-title {
  margin-left: 30px;
}

.username-reset {
  border: none;
  border-bottom: 2px solid var(--green-color);
  width: calc(100% - 20px);
  line-height: 40px;
  font-size: 18px;
  margin-top: 20px;
}

.username-reset:focus {
  outline: none;
}

#reset-btn {
  width: 180px;
  height: 50px;
  font-size: 16px;
  color: white;
  background-color: var(--green-color);
  border: none;
  border-radius: 10px;
  text-transform: uppercase;
  cursor: pointer;
}

.message,
.message-success {
  color: var(--green-color);
}

.err_message {
  color: red;
}

.backlogin-btn {
  display: block;
  text-align: center;
  color: var(--green-color);
  font-size: 18px;
  font-weight: 400;
}

.list-reset {
  border: 1px solid #000;
}

.password-field {
  line-height: 30px;
  font-size: 18px;
  width: 90%;
}

.password-field:focus {
  outline: none;
}

.reset-pass-btn {
  display: block;
  width: 80px;
  height: 30px;
  margin: 0 auto;
  text-align: center;
  color: white;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  background-color: var(--green-color);
  border-radius: 5px;
  border: none;
}

.error_pass {
  color: red;
  text-align: left;
  width: 70%;
  margin-left: 34px;
}

/* EVENT CSS */

.wrapper-event {
  min-height: 100%;
  width: 1200px;
  margin: 20px auto;
  padding: 20px 50px 50px 50px;
  border: 1px solid var(--green-color);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.event-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.back-homepage {
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  width: 160px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: rgb(135, 135, 135);
  color: #fff;
  border-radius: 10px;
}
.back-homepage:hover {
  background-color: rgba(135, 135, 135, 0.7);
}

.event__search-form {
  margin: 0 auto;
}

.search-form {
  display: inline-block;
}

.search-field {
  display: flex;
  flex-direction: column;
}

.search-field .event-search-input {
  line-height: 30px;
  font-size: 18px;
  width: 500px;
  border: 1px solid var(--green-color);
}
.search-field .event-search-input:focus {
  outline: var(--green-color);
}

.search-area-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.clear-btn {
  display: block;
  width: 80px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  text-decoration: none;
  font-size: 16px;
  color: white;
  background-color: #b2b4b6;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  margin: 0 auto;
}

.search-field .search-btn,
.clear-btn {
  cursor: pointer;
}

.clear-btn:hover {
  background-color: #818181;
}

.search-result-count {
  margin-left: 50px;
}

.delete_event_success {
  color: green;
}
.delete_event_fail {
  color: red;
}

.add-event-btn {
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  width: 130px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: rgb(31, 162, 107);
  color: #fff;
  border-radius: 10px;
  margin-left: 80%;
  margin-bottom: 30px;
}

.event-list-tbl tbody td {
  border-bottom: 1px solid #000;
}

.delete-btn {
  width: 80px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  text-decoration: none;
  font-size: 16px;
  color: white;
  background-color: #ff2323;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  margin: 0 auto;
  cursor: pointer;
}

.edit-btn {
  width: 80px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  text-decoration: none;
  font-size: 16px;
  color: white;
  background-color: var(--green-color);
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  margin: 0 auto;
  cursor: pointer;
}

.detail-btn {
  width: 90px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  text-decoration: none;
  font-size: 16px;
  color: white;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  margin: 0 auto;
  cursor: pointer;
}

.schedule-btn {
  background-color: rgb(250, 174, 10);
}

.comment-btn {
  background-color: rgb(123, 8, 206);
}

/* EVENT CREATE CSS */

.event-create-wrapper {
  width: 960px;
  height: 100%;
  margin: 30px auto;
}

.event-create-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 30px;
}

.content {
  margin: 0 auto;
}
.input-field-container {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 20px;
}
.event-label {
  display: inline-block;
  width: 160px;
}
.event-input {
  width: 70%;
  line-height: 30px;
  border: 1px solid var(--green-color);
  font-size: 18px;
}
.event-input:focus {
  outline: var(--green-color);
}
.event-error {
  text-align: center;
  font-size: 14px;
}

.event-name-input {
}
.event-name {
}
.slogan-input {
}
.slogan {
}
.leader-input {
}
.leader {
}
.description-input {
}
.description {
}
.avatar-input {
}
.avatar {
  /* display: none; */
}
.avatar::-webkit-file-upload-button {
  color: white;
  display: inline-block;
  background: #1cb6e0;
  border: none;
  padding: 7px 15px;
  font-weight: 700;
  border-radius: 3px;
  white-space: nowrap;
  cursor: pointer;
  font-size: 10pt;
}

.event-submit-btn {
  display: block;
  width: 80px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  text-decoration: none;
  font-size: 16px;
  color: white;
  background-color: var(--green-color);
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  margin: 30px auto 0;
  cursor: pointer;
}
