:root {
  --green-color: #4caf50;
}
* {
  font-family: "Courier New", Courier, monospace;
}

.container {
  width: 600px;
  margin: 50px auto;
  border: 1px solid var(--green-color);
  border-radius: 10px;
  padding: 50px 20px;
}
.container h3 {
  text-align: center;
  font-size: 36px;
  margin: 0 0 20px 0;
  color: var(--green-color);
}

.form-input {
  width: 100%;
  margin-bottom: 20px;
}

.form-input label {
  display: none;
  width: 20%;
  font-size: 18px;
}

.input-field {
  border-bottom: 2px solid var(--green-color);
  width: calc(100% - 20px);
}

.form-input i {
  color: rgba(128, 128, 128, 0.589);
}

.form-input input {
  line-height: 30px;
  border: none;
  font-size: 18px;
  width: 90%;
}

.form-input input:focus {
  outline: none;
}

.error,
.error-message {
  color: red;
  display: block;
}

.submit-reset {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.submit-btn {
  width: 200px;
  height: 50px;
  font-size: 20px;
  color: white;
  background-color: var(--green-color);
  border: none;
  border-radius: 10px;
  text-transform: uppercase;
}

.submit-btn:hover {
  cursor: pointer;
  box-shadow: 2px 2px 4px #ccc;
}

.reset-pass {
  margin-top: 20px;
  color: var(--green-color);
  font-size: 20px;
  text-decoration: none;
}

/* HOME CSS */

.wrapper {
  min-height: 500px;
  width: 1200px;
  margin: 50px auto;
  border: 1px solid var(--green-color);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  margin: 0 50px 60px 50px;
  display: flex;
  justify-content: space-between;
}

.user-info {
}

.logout {
  margin-left: 200px;
  margin-top: 30px;
}

.logout a {
  display: block;
  width: 80px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  text-decoration: none;
  font-size: 16px;
  color: white;
  background-color: var(--green-color);
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
}

.search-btn {
  display: block;
  width: 80px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  text-decoration: none;
  font-size: 16px;
  color: white;
  background-color: #92c3ff;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  margin: 0 auto;
}

.add-btn {
  display: block;
  width: 80px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  text-decoration: none;
  font-size: 16px;
  color: white;
  background-color: #ff6b6b;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  margin: 0 auto;
}

.home-tbl,
.user-reset-tbl {
  width: 90%;
  height: 120px;
}

.home-tbl,
.user-reset-tbl,
th {
  margin-left: 50px;
  border: 1px solid #000;
  border-collapse: collapse;
}
th {
  font-size: 20px;
  height: 30px;
}

td {
  border-left: 1px solid #000;
  text-align: center;
  height: 30px;
}

/* RESET PASSWORD */
.reset-field {
  margin-bottom: 30px;
}

.reset-tbl-title {
  margin-left: 30px;
}

.username-reset {
  border: none;
  border-bottom: 2px solid var(--green-color);
  width: calc(100% - 20px);
  line-height: 40px;
  font-size: 18px;
  margin-top: 20px;
}

.username-reset:focus {
  outline: none;
}

#reset-btn {
  width: 180px;
  height: 50px;
  font-size: 16px;
  color: white;
  background-color: var(--green-color);
  border: none;
  border-radius: 10px;
  text-transform: uppercase;
  cursor: pointer;
}

.message,
.message-success {
  color: var(--green-color);
}

.err_message {
  color: red;
}

.backlogin-btn {
  display: block;
  text-align: center;
  color: var(--green-color);
  font-size: 18px;
  font-weight: 400;
}

.list-reset {
  border: 1px solid #000;
}

.password-field {
  line-height: 30px;
  font-size: 18px;
  width: 90%;
}

.password-field:focus {
  outline: none;
}

.reset-pass-btn {
  display: block;
  width: 80px;
  height: 30px;
  margin: 0 auto;
  text-align: center;
  color: white;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  background-color: var(--green-color);
  border-radius: 5px;
  border: none;
}

.error_pass {
  color: red;
  text-align: left;
  width: 70%;
  margin-left: 34px;
}

/* EVENT CSS */

.wrapper-event {
  min-height: 500px;
  width: 1200px;
  margin: 50px auto;
  border: 1px solid var(--green-color);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
